<div class="flex justify-center items-center min-h-screen">
    <div class="p-8 rounded shadow-md w-full max-w-md border-primary border border-dashed rounded-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="mb-4">
                <label class="block">Email</label>
                <input type="email" formControlName="email" class="input input-bordered w-full" placeholder="Email" />
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                    class="text-red-500 text-sm">
                    Email is required and must be valid
                </div>
            </div>
            <div class="mb-4">
                <label class="block">Password</label>
                <input type="password" formControlName="password" class="input input-bordered w-full"
                    placeholder="Password" />
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="text-red-500 text-sm">
                    Password is required
                </div>
            </div>

            <!-- add text to register -->
            <div class="text-center mb-4">
                <a routerLink="/register" class="text-primary">Don't have an account? Register</a>
            </div>
            <button type="submit" class="btn btn-primary w-full text-white">Login</button>
        </form>
    </div>
</div>