<div class="overflow-x-auto max-w-screen-lg mx-auto">
    <div class="navbar bg-base-100">
        <div class="flex-1 gap-3">
            <a routerLink="/" class="text-xl font-bold">Home</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <a routerLink="/admin/users" routerLinkActive="active" class="cursor-pointer">Users</a>
                </li>
                <li>
                    <a routerLink="/admin/items" routerLinkActive="active" class="cursor-pointer">Items</a>
                </li>
                <li>
                    <a (click)="authApiService.logout()" class="cursor-pointer">Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="flex justify-between mb-4">
        <h2 class="text-2xl">Users</h2>
        <a routerLink="/admin/users/add" class="btn btn-primary btn-sm text-white">Add User</a>
    </div>

    <table class="table border border-primary border-dashed rounded-md">
        <thead>
            <tr class="border border-primary border-dashed">
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button (click)="editUser(user.id)" class="btn btn-sm btn-info mr-2">Edit</button>
                    <button (click)="deleteUser(user.id)" class="btn btn-sm btn-error">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="my-5 flex justify-end">
        <div class="join grid grid-cols-2 gap-2">
            <button 
                class="join-item btn btn-sm btn-outline" 
                [disabled]="currentPage === 1"
                (click)="onPageChange(currentPage - 1)">
                Previous
            </button>
            <button 
                class="join-item btn btn-sm btn-outline"
                (click)="onPageChange(currentPage + 1)">
                Next
            </button>
        </div>
        <span class="ml-4">Page {{ currentPage }}</span>
    </div>
</div>