<div class="overflow-x-auto max-w-screen-lg mx-auto">
    <div class="navbar bg-base-100">
        <div class="flex-1 gap-3">
            <a href="" class="text-xl font-bold">Home</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <a routerLink="/admin/users" routerLinkActive="active" class="cursor-pointer">Users</a>
                </li>
                <li>
                    <a routerLink="/admin/items" routerLinkActive="active" class="cursor-pointer">Items</a>
                </li>
                <li>
                    <a (click)="authApiService.logout()" class="cursor-pointer">Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <h1 class="text-xl">HOME!!!</h1>
</div>